/* ==========================================================================
   main css --- chelseamiller
   ========================================================================== */

body{
	margin:0;
	padding:0;
	font-weight:400;
	color:black;
	font-family: Avenir, Helvetica, sans-serif;
	background-color:#ffffff;
	height:100%;
	display:block;
	}


/* ==========================================================================
   Navigation
   ========================================================================== */

.exterior{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	-ms-flex-flow:row nowrap;
	flex-flow:row;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:start;
	-webkit-align-items:flex-start;
	-ms-flex-align:start;
	align-items:flex-start;
	background-color:#fcfcfc;
	width:100vw
}


.navigation-exterior{
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;background:hsla(0,0%,100%,.95);
	border-bottom:1px solid #eaedf1;
	width:100vw;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:1000
}

.navigation-exterior,.navigation-interior{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	-ms-flex-flow:row nowrap;
	flex-flow:row;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}

.navigation-interior{
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	width:100%;
	margin-left: 14.5%;
	margin-right: 15%;

}

.navigation-links{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	-ms-flex-flow:row nowrap;
	flex-flow:row;
	-webkit-box-pack:start;
	-webkit-justify-content:flex-start;
	-ms-flex-pack:start;
	justify-content:flex-start;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	list-style-type: none;
	padding-top: 10px;

}

.navigation-link{
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 12px;
	color: #626262;
	letter-spacing: 1.5px;
	list-style-type: none;
	text-decoration: none;
	padding:8px;

}

.navigation-link:hover{
	color:#809bce;
	list-style-type: none;
	text-decoration: none;
}

#currentpage a{
	text-decoration: none;
	color:#FF7A6B;
}

#currentpage a:hover{
	text-decoration: none;
	color:#809bce;
	background:white;
}

#name{
	display:none;
}


#title{
	display:inline;
	text-decoration: none;
}

#title a{
	text-decoration: none;
	color: #626262;
}

#title a:visited{
	text-decoration: none;
	color: #626262;
}
#title a:hover{
	text-decoration: none;
	color: #809bce;
}




/* ==========================================================================
   Interior - Portfolio
   ========================================================================== */
#splash{
	background-color: #ffffff);
	min-height: 300px;
	width:100%;
	margin-top: 3.5%;
}



#splash h1{
	padding-top: 80px;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 4em;
	text-align: center;
	color:#FF7A6B;
	letter-spacing: 10.5px;
}

#splash p{
	font-family: Avenir-Light, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	margin: auto;
	max-width:75%;
	color:#FF7A6B;
}


#lighter{
	font-family: Avenir-Light, Helvetica, sans-serif;
}

#splash i{
	color: #FF7A6B;
}



.resume h1{
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size:2.5em;
	text-align: center;
}


h2{
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size:2.5em;
	text-align: center;
}


#portfolio h2{
	padding-top: 2%;
	font-family: Avenir, Helvetica, sans-serif;
	font-size:3em;
	text-align: center;
	color:#FF7A6B;
	margin-bottom: -2%;
}

.port_project {
	padding-bottom: 25px;
	padding-top: 10px;
	background-color: #f9ffff;
	text-align: center;
	width:100%;
	margin:auto;
	background:transparent;
	margin-top: 60px;
	margin-bottom: 60px;
}


.port_project h3{
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size:3em;
	text-align: center;
	letter-spacing: 10.5px;
}

.port_project h4{
	font-family: Avenir-Light, Helvetica, sans-serif;
	font-size:1.5em;
	text-align: center;
	color:#FF7A6B;
	margin-bottom: 30px;
}

.port_project img{
	max-width:55%;
	margin:auto;

}





.althead {
	font-size: 1.6em;
	color:#FF7A6B;
	padding-top: 20px;
}


#about{
	padding-bottom: 50px;
/*	padding-top: 50px;*/
	width:100%;
	text-align: center;
/*	background-color: #FF7A6B;*/
}

#about h1{
	padding-top: 80px;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 4em;
	text-align: center;
	color:#FF7A6B;
	letter-spacing: 10.5px;
}


#about h2{
	color:white;
	margin-top: 0%;
	margin-bottom: 2%;

}

#about p{
	color:#626262;
	font-size: 1.3em;
	width:90%;
	text-align: left;
	width:100%;
	max-width:600px;
	text-align: left;
	margin: auto;
}

#about ul{
	color:#626262;
	font-size: 1.3em;
	width:100%;
	max-width:700px;
	text-align: left;
	margin: auto;
	padding-left: 70px;
	padding-bottom: 30px;
}

#resume h1{
	padding-top: 80px;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 4em;
	text-align: center;
	color:#FF7A6B;
	letter-spacing: 10.5px;
}

#resume img{
	margin-top:10%;
	display:block;
	width:60%;
	margin:auto;
	margin-bottom:5%;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: 1px;
}



#btn {
	text-decoration: none;
	border-style: solid;
	border-color:white;
	background-color: #fefefe;
	color:white;
	padding:10px 20px;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 1em;
	margin: 40%;

}

#btn a{
	text-decoration: none;
}

#btn:hover {
	text-decoration: none;
	border-style: solid;
	border-color:white;
	background-color: #f4f4f4;
	color:white;
	padding:10px 20px;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 1.3em;
}

.m{
	background-color: white;
}



/* ==========================================================================
   Events
   ========================================================================== */

.portphotos{
	display:block;
	max-width:35%;
	margin: auto;
	padding:2%;
}

.portphotoshead{
	max-width:70%;
	margin-bottom: 30px;
	margin-top: 30px;

}

.cyclikaphotos{
	display:block;
	max-width:50%;
	margin: auto;
	padding:2%;
}



#overview{
	width:100%;
	text-align: center;
	background-color: white;
	padding-bottom: 5%; 
}

#overview h1{
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 6em;
	color:#FF7A6B;
	padding-top: 2%;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size:6em;
	text-align: center;
}

#overview h3{
	color:#626262;
	font-size: 1.5em;
	width:80%;
	margin-left: 10%;
	text-align: center;
	margin-top: -3%
}
#overview h4{
	margin-top: 30px;
	font-size: 1.3em;
	width:80%;
	margin-left: 10%;
	text-align: center;
}

#overview p{
/*	width:100%;*/
	max-width: 65%;
	text-align: left;
	margin-left: 15%;
	font-size: 1.3em;
	color:#626262;
}


#community{
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	background-color: #f4f4f4;
	width:100%;
}

#community h2{
	color:#626262;
	text-align: left;
	margin-left:15%;
}

#community p{
	max-width:65%;
	text-align: left;
	margin-left: 15%;
	font-size: 1.3em;
	color:#626262;
}

#opportunity{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: white;
}

#opportunity h2{
	color:#626262;
	text-align: left;
	margin-left:15%;
}

#opportunity p{
	max-width:65%;
	text-align: left;
	margin-left: 15%;
	font-size: 1.3em;
	color:#626262;
}

#opportunity h3{
	padding-top: 35px;
	font-size: 1.7em;
	color:#626262;
	text-align: left;
	width:60%;
	margin-left: 15%;
}


#opportunity li{
	width:60%;
	margin-left:15%;
	text-align: left;
	font-size: 1.3em;
	color:#626262;
}


#requirements{
	width:100%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #f4f4f4;
}

#requirements h2{
	color:#626262;
	text-align: left;
	margin-left:15%;
}

#requirements p{
	max-width:65%;
	text-align: left;
	margin-left: 15%;
	font-size: 1.3em;
	color:#626262;
}

#requirements h3{
	font-size: 1.4em;
	color:#626262;
	text-align: left;
	width:60%;
	margin-left: 15%;
}


#requirements li{
	width:65%;
	margin-left:15%;
	text-align: left;
	font-size: 1.3em;
	color:#626262;
}

#methods{
	width:100%;
	padding-top: 5%;
	padding-bottom: 5%;
/*	text-align: center;*/
	background-color: white;
}

#methods h2{
	color:#626262;
	text-align: left;
	margin-left:15%;
}

#methods h3{
	font-size: 1.7em;
	color:#626262;
	text-align: left;
	width:60%;
	margin-left: 15%;
	margin-top: 2%;
}

#methods p{
	max-width:65%;
	text-align: left;
	margin-left: 15%;
	font-size: 1.3em;
	color:#626262;
}

#methods li{
	width:65%;
	margin-left:15%;
	text-align: left;
	font-size: 1.3em;
	color:#626262;

}

#personaphotos img{
	display:block;
	max-width:60%;
	margin: auto;
	padding:2%;

}

#maestropersonaphotos img{
	display:block;
	max-width:60%;
	margin-bottom: -3%;
	margin: auto;

}

#sketchphotos img{
	display:block;
	max-width:60%;
	margin: auto;
	padding:2%;

}


#protoiframe{
	margin-top:-170px;
	margin-bottom:-160px;
	margin-left:10%;

}

#backbike{
	max-height:400px;
}



#takeaways{
	width:100%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #f4f4f4;
	color:#626262;
}

#takeaways h2{
	text-align: left;
	margin-left:15%;
}

#takeaways p{
	max-width:65%;
	text-align: left;
	margin-left: 15%;
	font-size: 1.3em;
}

#takeaways li{
	max-width:65%;
	text-align: left;
	margin-left: 15%;
	font-size: 1.3em;
}


#moreprojects{
	width:100%;
	background-color: #f4f4f4;
	padding-bottom: 5%;
}

.vid{
	display:block;
	max-width:70%;
	margin:auto;
	margin-top: 3%;
/*	margin-bottom: 2%;*/
}





/*resume*/
#resume{
	width:100%;
	min-height: 1000px;
}


#downloadbutton{
	background-color: #FF7A6B;
	padding:30px;
	font-size: .75em;
	color:white;
	margin-top: -4%;
	margin-bottom:100px;
}

#downloadbutton:hover{
	background-color: #f77567;
}

#opportunity #charttitle{
	font-size: 10px;
	margin:auto;
	text-align: center;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer{
	padding-top: 10px;
	width:100vw;
	display:block;
	text-align: center;
	position:relative;
	height:120px;
	bottom:0;
	right:0;
	left:0;
	background-color: white;
/*	padding-top:40px;*/
	border-top:1px solid #eaedf1;
}

#footer p{
/*	font-size: 14px;
	float:center;*/
	padding-right:3%; 
	color:#626262;
}

#footlist li {
	display:inline-flex;
	list-style-type: none;
	padding: 10px 35px 10px 0px;
}


#footlist i{
	color:#626262;
	text-align: center;
}

#footlist i:hover{
	color:#809bce;
}

#contact b{
	font-size: 1.2em;
}

a:hover{
	text-decoration: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


/*@media only screen and (min-width: 768px){
	.port_project{
		display:inline;
		width:30%;
		}

}*/


@media only screen and (min-width: 1000px){
	#footer p{
		margin-left: 3%;

}

/*
@media only screen and (max-width: 768px){
	#footer{
		padding-left: 10px;
	}
	#about{
		margin-top: 60px;
	}
}

